.container {
  display: grid;
  width: 50%;
  height: 100%;
}
.card {
  display: grid;
  text-align: center;
}
.heading {
  text-align: center;
}
img {
  border: 1px solid red;
}
h2 {
  color: lightgrey;
}
.heading {
  align-items: center;
}
#error-message {
  color: red;
  display: none;
}
.important {
  color: red;
}
.show
{
  display: block;
}
.hide
{
  display: none;
}
#questionnaire
{
  display: none;
}
